@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
body {
  margin: 0 auto;
  user-select: none;
}
input:focus + .error-input {
  display: none;
}
